#banner {
    position: relative; 
    background-image: url(../img/banner2.jpg); 
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 120px 0px; 
    color: #fff;
}

#tituloBanner {
    font-family: 'Reggae_One';
    color:rgb(227, 231, 228);
    font-size: 65px;
    text-shadow: 2px 2px 2px white;
    margin-top: 40px; /*se tirar aqui não aparece a barra ao lado*/
}

#tituloBanner2 {
    color:rgb(221, 27, 27);
}

#descricao {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: "roboto";
}

#redesSociais {
    color: white;
    margin-top:20px;
}

.iconesSociais {
    font-size: 30px;
    padding: 0px 12px 0px 12px;
    color: white;
}

.iconesSociais:hover {
    color:#dc3545; 
}

.bg-light {
    background-color: transparent !important;
}

/* 720-617 */
@media (max-width:676px) {
    #tituloBanner {
       font-size:50px ;
    }
}
@media (max-width:575px) {
    #banner { 
        background-image: url(../img/bannerMobile.jpg);
    }
}