/* #carouselPrincipal .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
} */

/* #carouselPrincipal img {
    height: 100vh;
    background: no-repeat scroll center scroll;
    background-size: cover
}  */