/*#273036*/
#contatos {
    margin-top: 130px; 
    background-image: linear-gradient(to top,rgb(221, 215, 215) , white );
    padding-bottom: 60px;
}

.texto-contatos {
    font-size: 20px;
    margin-right: 20px;
}

.icones-contatos{
    margin-top: 0px;
    margin-bottom: 30px;
    color:  #dc3545;
    font-size: 20px;
    margin-right: 5px;
}

#botao-contatos {
    width: 100%;
}