/*#273036*/
#contatos {
    margin-top: 100px; 
    background-image: linear-gradient(to top,rgb(221, 215, 215) , white );
}

.texto-contatos {
    font-size: 20px;
    margin-right: 20px;
}

.icones-contatos{
    margin-top: 0px;
    margin-bottom: 30px;
    color:  #fc5047;
    font-size: 20px;
    margin-right: 5px;
}

#botao-contatos {
    width: 100%;
    background-color: #fc5047;
}

.line {
    width: 60%;
    background-color: rgb(192, 192, 192);
    height: 1px;
}