#footer {
    background-color:#212529;/* #273036*/; 
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
    color: white;
    margin-top: 80px;
}

#footer >.container-fluid {
    padding: 20px;
}

.icones-footer{
    margin-top: 0px;
    margin-bottom: 10px;
    color:  #a09596;
    font-size: 20px;
    margin-right: 5px; 
    border: 1px solid #232b30;
    padding: 10px;
    border-radius: 50%;
    background-color:  #232b30 ;
} 

.icones-footer:hover {
    background-color: #dc3545;
    color: white;
}

#descricao-siga-nos {
    text-align: justify;
    font-size: 1.0625rem; 
}

.titulos-footer {
    padding: 20px;
    border-bottom: 1px solid #232b30;
    font-size: 20px;
    font-weight: 800;
}

#icones-siga-nos {
    margin-top: 5px;
}

.item-icones-endereco {
    margin-bottom: 5px;
}

#footer input {
    background-color:#232b30;
    border-color: #212529;
    color: white;
}

#botao-enviar-footer {
    width: 100%;
}

#creditos {
    margin-top: 30px;
    margin-bottom: 5px;
}

#creditos a {
    color: #dc3545;
}
 