.quemSomos {
    margin-top: 60px;
    position: relative;
}
#waveQuemSomos {
    position:absolute;
    left: 0;
    right: 0;
    bottom: -70px;
}
#tituloQuemSomos {
    align-items: center;
    color: #dc3545;
}
#imgQuemSomos {
    margin-top: 70px;
}

@media only screen and (max-width: 991px) {
    #textoQuemSomos {
        margin-bottom: 100px;
    }
    /* #imgQuemSomos {
        margin-top: 0px;
        margin-bottom: -10px;
    } */
}
@media only screen and (max-width: 768px) {
    #imgQuemSomos {
        margin-bottom: -40px;
        margin-top: -20px;
    }
}