html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    src: url("../fonts/Indie_Flower/IndieFlower-Regular.ttf");
    font-family: 'Indie_Flower';
}

@font-face {
    src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
    font-family: 'PermanentMarker';
}

@font-face {
    src : url("../fonts/Reggae_One/ReggaeOne-Regular.ttf");
    font-family: 'Reggae_One';
}

@font-face {
    src : url("../fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
    font-family: 'lora';
}

.titulos {
    font-weight: 400;
    font-style: italic;
    font-family: 'Lora', serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0px;
}
.subtitulos {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

option {
    overflow-y: scroll
}